@model PointOfSalesFull.Models.Supplier

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<h2>تفاصيل</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            الاسم  عربى
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sub_Name)
        </dd>

        <dt>
            الاسم  انجليزى
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sub_EName)
        </dd>

        <dt>
            البريد الالكترونى
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sub_Email)
        </dd>

        <dt>
            رقم الهاتف
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sub_Phon)
        </dd>

        <dt>
            العنوان
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sub_Adress)
        </dd>

        <dt>
            الجنسية
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nat_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.Sub_ID }) |
    @Html.ActionLink("الرجوع الى القائمة", "Index")
</p>
