@model PointOfSalesFull.Models.PayMode

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<h2>تعديل اسلوب الدفع</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Pay_ID)

        <div class="form-group">
            <label class="control-label col-md-2">
                الاسم  عربى
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pay_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pay_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                الاسم  انجليزى
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pay_EName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pay_EName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
           اسم الحساب
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pay_Acc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pay_Acc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="حفظ" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("الرجوع الى القائمة", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
