@model PointOfSalesFull.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<h2>تفاصيل العميل</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            الاسم الاول عربى
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First_Name)
        </dd>

        <dt>
            اسم العائلة عربى
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_Name)
        </dd>

        <dt>
            الاسم الاول انجليزى
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First_EName)
        </dd>

        <dt>
            اسم العائلة انجليزى
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_EName)
        </dd>
        <dt>
            اسم الجنسية
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nat_ID)
        </dd>
        <dt>
            رقم الهاتف
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phon)
        </dd>

        <dt>
            البريد الالكترونى
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.Customes_ID }) |
    @Html.ActionLink("الرجوع الى القائمة", "Index")
</p>
